<div class="welcome-container">
  <h1 class="logo">BYD</h1>
  <p class="slogan">Budget Your Day</p>
  <div class="user-buttons-container">
    <a class="login-button" href="<%= new_user_session_path %>">LOG IN</a>
    <a class="signup-button" href="<%= new_user_registration_path %>">SIGN UP</a>
  </div>
<div>