// Place all the styles related to the Category controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

.icons-title {
  text-align: center;
  font-size: 22px;
  font-family: 'Gruppo', cursive;
}

.icons-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  background-color: #3979c313;
  padding: 10px 20px;
  border-radius: 50%;
}

.icon {
  width: 40px;
  height: 40px;
}

.create-button-container {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.create-button {
  width: 90%;
  background-color: #3979c3;
  text-align: center;
  color: white;
  padding: 20px 0;
  border-radius: 3px;
  border: none;
}
