// Place all the styles related to the Payments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.header-payments-container {
  padding: 6px 0;
  width: 100%;
  background-color: #3979c3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 16px;
  box-shadow: 0 5px 10px rgb(206, 206, 206);
}

.total-spent {
  width: 100%;
  background-color: white;
  height: 40px;
  margin: -20px 0 20px 0;
}

.total-payments {
  color: gray;
  text-align: center;
}

.bolder {
  font-weight: bolder;
}
