<header class="header-container">
  <%= image_tag "hamburger.png", class:"back-img" %>
  <p class="header-title">CATEGORIES</p>
  <a href class="login-header">Logout</a>
</header>
<main class="categories-container">


</main>